/*  GENERAL STYLING */

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EC4E20;
}

.spaced {
  padding: 0 10px;
  margin: 0;
}

/* NAV BAR */

nav {
  background: #254441;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav a, nav a:visited {
  color: white;
  padding: 10px;
}

.profile-pic {
  height: 15%;
  width: 15%;
}

.pref-true {
  list-style-type: '✓ '
}

.pref-false {
  list-style-type: '𐄂 '
}


