/*  GENERAL STYLING */

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

h2 {
  margin: 10px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EC4E20;
}

.spaced {
  padding: 0 10px;
  margin: 0;
}

/* NAV BAR */

nav {
  background: #254441;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav a, nav a:visited {
  color: white;
  padding: 10px;
}

/* IMAGES */

.profile-pic {
  max-height: 15%;
  max-width: 15%;
}

.all-friends {
  max-height: 8%;
  max-width: 8%;
}

.profile-pic-big {
  height: 7%;
  width: 7%;
}

/* BULLETS */

.pref-true {
  list-style-type: '✓ '
}

.pref-false {
  list-style-type: '𐄂 '
}

/* HEADINGS */
h1 {
  margin-bottom: 0;
  margin-left: 16px;
}
.profile-heading h3, .profile-heading p {
  margin-bottom: 0;
}

.profile-heading p {
  margin-top: 0;
}

/* MAP */
.map-container {
  height: 40vh;
  width: 50vw
}


