/*  GENERAL STYLING */
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

h2 {
  margin: 10px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EC4E20;
}

.spaced {
  padding: 8px 10px;
  margin: 0;
  font-size: 1.2rem;
}

select {
  width: fit-content;
}

.plus-button {
  cursor: pointer;
  text-align: right;
  width: 30px;
  display: inline-block;
}

.plus-button:hover {
  color: #43AA8B;
}

.no-padding {
  padding-left: 0;
}

/* RISK TOLERANCE FORM */

.question {
  font-weight: bolder;
}

/* NAV BAR */

nav {
  background: #254441;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav a, nav a:visited {
  color: white;
  padding: 10px;
}

/* IMAGES */

.profile-pic {
  max-height: 15%;
  max-width: 15%;
}

.all-friends {
  max-height: 5%;
  max-width: 5%;
}

.profile-pic-big {
  height: 7%;
  width: 7%;
}

/* BULLETS */

.pref-true {
  list-style-type: '✓ '
}

.pref-false {
  list-style-type: '𐄂 '
}

.no-bullet {
  padding-left: 20px;
}

.no-bullet li {
  list-style: none;
}

/* HEADINGS */
h1 {
  margin-bottom: 0;
  margin-left: 16px;
}
.profile-heading h3, .profile-heading p {
  margin-bottom: 0;
}

.profile-heading p {
  margin-top: 0;
}

.page-heading {
  margin-left: 16px;
}

.page-heading p {
  margin: 5px 0;
}

.page-heading h1 {
  margin-left: 0;
}

/* MAP */
.map-container {
  height: 40vh;
  width: 50vw
}

/* CALENDAR */

.calendar .header {
  background-color: #43aa8b;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: black;
  font-weight: 700;
  display: flex;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 55px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 65px;
  height: 55px;
  position: relative;
  color: black;
  z-index: 100;
  line-height: 55px;
  border: 1px solid #43aa8b;
  cursor: pointer;
}

.calendar .day div.before {
  color: lightgrey;
}

.calendar .day div.selected {
  background-color: #ec4e20;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.calendar .day div.today {
  background-color: grey;
}

